#TopNavBar {
  background: #333;
}
#TopNavBar .navbar {
  border: none;
}
@media screen and (max-width: 768px) {
  #TopNavBar #owner-navbar-logo {
    display: none;
  }
}
#TopNavBar a {
  color: antiquewhite;
}
#TopNavBar a:hover {
  color: #F05f40;
}
#SideNavBar {
  position: absolute;
}
@media screen and (max-width: 384px) {
  #SideNavBar .sidenav img {
    max-width: 48px;
    max-height: 48px;
  }
}
#SideNavBar .sidenav .active img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#SideNavBar .sidenav .greyscale-hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#SideNavBar .sidenav .greyscale-hover:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#SideNavBar .sidenav .greyscale-hover:active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#LayoutBody {
  position: relative;
  display: block;
  background-color: #ddd;
  height: 100%;
}
#LayoutBody .popover-title {
  background: #F05f40;
  color: #fff;
  font-weight: bold;
}
