#TopNavBar {
  background-color: #333;
  height: 100px;
}
#TopNavBar .topnav-home {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 8px 16px 8px 0px;
  text-decoration: none;
  font-size: xx-large;
}
#TopNavBar .topnav-home img {
  height: 64px;
  width: 64px;
  margin-right: 5px;
}
#TopNavBar .topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#TopNavBar .topnav li {
  float: right;
}
#TopNavBar .topnav li a {
  margin-top: 15px;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.2s;
  font-size: xx-large;
}
#TopNavBar .topnav li a:hover {
  background-color: #666;
}
#SideNavBar {
  width: 100px;
  background-color: #333;
  position: fixed;
  top: 100px;
  bottom: 0px;
}
#SideNavBar .sidenav {
  height: 100%;
  margin-top: 40px;
}
#SideNavBar .sidenav ul {
  list-style-type: none;
  padding-left: 0px;
}
#SideNavBar .sidenav .contact-pulled-buttom {
  position: absolute;
  bottom: 0px;
}
#SideNavBar .sidenav .greyscale-hover {
  display: block;
  margin: 18px auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#SideNavBar .sidenav .greyscale-hover:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#SideNavBar .sidenav .greyscale-hover:active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
@media screen and (max-height: 415px) {
  #SideNavBar .sidenav .greyscale-hover {
    margin: 8px auto;
  }
}
body {
  position: relative;
  display: block;
  background-color: #ddd;
  height: 100%;
}
body .popover-title {
  background: #F05f40;
  color: #fff;
  font-weight: bold;
}
