.owner-container {
  position: static;
  background-color: #ddd;
  margin-left: 30px;
}
.owner-container .property-list {
  margin-top: 40px;
  margin-left: 40px;
  padding-left: 7%;
  padding-right: 7%;
}
.owner-container .property-list div {
  margin-bottom: 15px;
}
.owner-container .property-list .property-sort {
  background-color: burlywood;
  height: 40px;
}
.owner-container .property-list .property {
  padding-top: 10px;
  background-color: #fafafa;
  margin-bottom: 15px;
  height: 300px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
}
.owner-container .property-list .property .popover-title {
  background: #F05f40;
  color: #fff;
  font-weight: bold;
}
.owner-container .property-list .property .property-left img {
  min-height: 200px;
  max-width: 320px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 15px;
}
.owner-container .property-list .property .overall-status {
  text-align: right;
  padding-right: 10px;
  float: right;
}
.owner-container .property-list .property .overall-status img {
  height: 20px;
}
.owner-container .property-list .property .property-health {
  height: 20px;
  width: 20px;
  background-color: forestgreen;
  float: right;
}
.owner-container .property-list .address {
  display: block;
  margin: auto;
  padding-top: 10px;
}
.owner-container .property-list .address p {
  margin: 0px;
}
