<section class="container-fluid bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Reshaping the Property Management World</h2>
                <hr class="light">
                <p class="text-faded">
                    We believe in a two-fold approach to reshaping what it means
                    to be a property management company. First, we believe in fostering strong
                    relationships and strive to deliver a Welcome Home experience with our tenants. Second,
                    we believe in innovating property management by implementing our own cutting-edge software
                    solutions to provide a better, faster, more reliable management service.
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Explore Our Services</a>
            </div>
        </div>
    </div>
</section>