<section class="container-fluid" id="contact">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>
                Ready for us to take on your properties? That's great! Give us a call or send us an<br />
                email and we will get back to you as soon as possible!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            <i class="fa fa-phone fa-3x wow bounceIn"></i>
            <p>Call or Text: (208) 991-0492</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p><a href="mailto:support@@ownapt.com">support@@ownapt.com</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <a href="https://www.facebook.com/ownapt/">
                <i class="fa fa-facebook fa-3x wow bounceIn btn-default" data-wow-delay=".1s"></i>
                <p>Check us out on Facebook</p>
            </a>
        </div>
    </div>

    <div class="text-center col-lg-12">
        <div class="btn-group-lg">

            <a href="javascript:void(0);" id="contactFormToggle" class="btn btn-primary btn-xl">Contact Form</a>
        </div>
    </div>

    <div id="contactForm" class="row" hidden>
        <div class="row form-group">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">First Name</span>
                    <input type="text" id="firstName" placeholder="John" class="form-control required" aria-label="First Name">
                </div><!-- /input-group -->
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Last Name</span>
                    <input type="text" id="lastName" placeholder="Doe" class="form-control required" aria-label="Last Name">
                </div><!-- /input-group -->
            </div>
        </div><!-- /.col-lg-6 -->

        <div class="row form-group">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input type="text" id="email" placeholder="user@domain.com" class="form-control required" aria-label="Email">
                </div><!-- /input-group -->
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Phone #</span>
                    <input type="text" id="phone" placeholder="(123)456-7890" class="form-control required" aria-label="Phone Number">
                </div><!-- /input-group -->
            </div>
        </div><!-- /.col-lg-6 -->

        <div class="row form-group col-lg-12">
            <span class="input-group-addon">Message</span>
            <textarea type="text" rows="5" id="message" placeholder="Type up to 1000 characters" class="form-control required" aria-label="Phone Number"></textarea>
            <span id="charCount">0/1000</span>
        </div><!-- /.col-lg-6 -->

        <div class="row form-group">
            <div class="text-center">
                <div class="btn-group-lg">
                    <a href="javascript:void(0);" id="contactFormCancel" class="btn btn-grey btn-xl">Cancel</a>
                    <a href="javascript:void(0);" id="contactFormSubmit" class="btn btn-primary btn-xl has-spinner">
                        Submit
                        <span class="spinner"><i class="fa fa-spin fa-refresh"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .spinner {
        display: inline-block;
        opacity: 0;
        width: 0;
        -webkit-transition: opacity 0.25s, width 0.25s;
        -moz-transition: opacity 0.25s, width 0.25s;
        -o-transition: opacity 0.25s, width 0.25s;
        transition: opacity 0.25s, width 0.25s;
    }

    .has-spinner.active {
        cursor: progress;
    }

        .has-spinner.active .spinner {
            opacity: 1;
            width: auto; /* This doesn't work, just fix for unkown width elements */
        }
</style>

<script src="~/lib-unmanaged/contact-form/js/contactForm.js"></script>
<script>
    ContactForm.initialize('@Url.Action("SubmitForm", "Home")');
</script>