@model OwnApt.DotCom.Model.Home.HomeIndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    <title>OwnApt, LLC</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/content/css/home/Index.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/material-design-lite/material.min.js"></script>

</head>
<body>
    <div class="oa-home-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="oa-home-layout__header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title"><img src="~/images/Logo/Logo_50x48.png" /> OwnApt</span>
                <div class="mdl-layout-spacer"></div>
                <nav id="oa-header-nav" class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">About</a>
                    <a class="mdl-navigation__link" href="">Services</a>
                    <a class="mdl-navigation__link" href="">Pricing</a>
                    <a class="mdl-navigation__link" href="">Contact</a>
                    <a class="mdl-navigation__link" href="">Listings</a>
                    <a class="mdl-navigation__link" href="">Blog</a>
                    <a class="mdl-navigation__link" href="">Login</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">About</a>
                <a class="mdl-navigation__link" href="">Services</a>
                <a class="mdl-navigation__link" href="">Pricing</a>
                <a class="mdl-navigation__link" href="">Contact</a>
                <a class="mdl-navigation__link" href="">Listings</a>
                <a class="mdl-navigation__link" href="">Blog</a>
                <a class="mdl-navigation__link" href="">Login</a>
            </nav>
        </div>
        <main class="oa-home-content mdl-layout__content">
            <section class="oa-home-top oa-section">
                <div class="mdl-typography--text-center mdl-color-text--white">
                    <img width="200" height="193" src="~/images/Logo/Logo_250x241.png" />
                    <h1>OwnApt</h1>
                    <h3>Redefining Property Management</h3>
                    <button class="oa-home-button oa-home-button--orange mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Learn More</button>
                    <button class="oa-home-button oa-home-button--grey mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">See Listings</button>
                    <button class="oa-home-button oa-home-button--white mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Get Started</button>
                </div>
            </section>

            @*About*@
            <section class="oa-section oa-section--orange">
                <div class="mdl-typography--text-center">
                    <h3 class="mdl-typography--headline">Redefining the Property Management World</h3>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--1-offset-desktop mdl-cell--12-col-tablet">
                            <video poster="~/images/header.jpg" preload="auto" controls="controls">
                                <source src="~/videos/explainer_HD1080.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--12-col-tablet">
                            <p class="oa-home-text__body mdl-typography--body-1">
                                We believe in a two-fold approach to reshaping what it means to be a property management company. First, we believe in fostering strong relationships and strive to deliver a Welcome Home experience with our tenants. Second, we believe in innovating property management by implementing our own cutting-edge software solutions to provide a better, faster, more reliable management service.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            @*Services*@
            <section class="oa-section oa-section--white">
                <div class="mdl-typography--text-center">
                    <h3 class="mdl-typography--headline">At Your Service</h3>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">computer</i>
                            <p class="mdl-typography--headline">Sturdy Software</p>
                            <p class="mdl-typography--body-1">We build our own custom software and update it regularly</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">access_time</i>
                            <p class="mdl-typography--headline">Always Available</p>
                            <p class="mdl-typography--body-1">Talk to us 24/7 by call, text or email</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">home</i>
                            <p class="mdl-typography--headline">Up to Date</p>
                            <p class="mdl-typography--body-1">We stay actively informed on the latest market trends</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">lightbulb_outline</i>
                            <p class="mdl-typography--headline">Integrated</p>
                            <p class="mdl-typography--body-1">We integrate with well known sites like Craiglist and Zillow</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">insert_chart</i>
                            <p class="mdl-typography--headline">Always Improving</p>
                            <p class="mdl-typography--body-1">We analyze and provide metrics to maximize your investments</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">credit_card</i>
                            <p class="mdl-typography--headline">Online Payments</p>
                            <p class="mdl-typography--body-1">We offer online payments to tenants and online distribution to owners</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">laptop</i>
                            <p class="mdl-typography--headline">Easy to Use</p>
                            <p class="mdl-typography--body-1">We provide web based portals for both tenants and owners to make life easy</p>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-phone">
                            <i class="material-icons material-icons--large material-icons--orange">favorite</i>
                            <p class="mdl-typography--headline">Made With Love</p>
                            <p class="mdl-typography--body-1">We are passionate about what we do!</p>
                        </div>
                    </div>
                </div>
            </section>

            @*Photos*@
            <section class="oa-section">
                <div class="oa-home-content--no-margin mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-desktop">
                        <img src="~/images/portfolio/1.jpg" />
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone">
                        <img src="~/images/portfolio/2.jpg" />
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                        <img src="~/images/portfolio/3.jpg" />
                    </div>
                </div>
            </section>

            @*Pricing*@
            <section class="oa-section oa-section--white">
                <div class="mdl-typography--text-center">
                    <h3 class="mdl-typography--headline">Simple Pricing</h3>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet">
                            <i class="material-icons material-icons--large material-icons--orange">attach_money</i>
                            <p class="mdl-typography--headline">Easy Flat Rate</p>
                            <p class="mdl-typography--body-1">8% Flat... Yup, that's it!</p>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet">
                            <i class="material-icons material-icons--large material-icons--orange">money_off</i>
                            <p class="mdl-typography--headline">No Other Fees</p>
                            <p class="mdl-typography--body-1">Simple pricing in, headaches out!</p>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet">
                            <i class="material-icons material-icons--large material-icons--orange">tag_faces</i>
                            <p class="mdl-typography--headline">More Savings</p>
                            <p class="mdl-typography--body-1">More money in your pocket!</p>
                        </div>
                    </div>
                    <button class="oa-home-button oa-home-button--orange mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Get Started</button>
                </div>
            </section>

            @*Contact*@
            <section class="oa-section oa-section--grey mdl-typography--text-center">
                <h3 class="mdl-typography--headline">Let's Get In Touch!</h3>
                <p class="mdl-typography--subhead">Ready for us to take on your properties? That's great! Just give us a call, send us a text, or shoot us an email and we'll get started!</p>
                <div class="mdl-grid">
                    <i class="material-icons">phone</i> +1.208.991.0492
                    <i class="material-icons">phone</i> support@ownapt.com
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input mdl-color-text--white" type="text" id="firstName">
                            <label class="mdl-textfield__label" for="firstName">First Name</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="lastName">
                            <label class="mdl-textfield__label" for="lastName">Last Name</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="tel" id="phoneNumber">
                            <label class="mdl-textfield__label" for="phoneNumber">Phone</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="email" id="email">
                            <label class="mdl-textfield__label" for="email">Email</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows="3" id="message"></textarea>
                            <label class="mdl-textfield__label" for="message">Message (optional)</label>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <div class="mdl-typography--body-1">&copy; @DateTime.Now.Year OwnApt, LLC | All Rights Reserved.</div>
                </div>
                <div class="mdl-mini-footer--right-section">
                    <div class="mdl-typography--body-1"><a class="mdl-navigation__link" href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
                </div>
            </footer>
        </main>
    </div>
</body>
</html>