@model OwnApt.DotCom.Model.Home.HomeIndexViewModel

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "OwnApt, LLC";
    ViewData["ShowListings"] = false;
}


<style>
    @@media (max-width: 768px) {
        #id-btn-header-contact {
            display: none;
        }
    }

    @@media (max-width: 992px) {
        .extraneous-image {
            display: none;
        }
    }
</style>

<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="page-header">
                <img width="200" height="193" src="~/images/Logo/Logo_250x241.png" />
                <h1>OwnApt, LLC</h1>
                <p>Redefining Property Management</p>
            </div>
            <div class="row">
                <div class="btn-group-lg col-lg-12">
                    <a href="#about" class="btn btn-ownapt-orange btn-lg page-scroll">Learn More</a>
                    <a href="@Url.Action("Index", "Listings")" class="btn btn-grey btn-lg page-scroll">See Listings</a>
                    <a id="id-btn-header-contact" href="#contact" class="btn btn-default btn-lg page-scroll">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</header>

@{ await Html.RenderPartialAsync("AboutSection"); }

<section class="container-fluid no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <img src="~/images/portfolio/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <img src="~/images/portfolio/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 extraneous-image">
                <img src="~/images/portfolio/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 extraneous-image">
                <img src="~/images/portfolio/4.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ServicesSection"); }

@{ await Html.RenderPartialAsync("PricingSection"); }

<section class="container-fluid no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="~/images/portfolio/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 extraneous-image">
                <img src="~/images/portfolio/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 extraneous-image">
                <img src="~/images/portfolio/8.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ContactSection"); }

@{ await Html.RenderPartialAsync("VideoModal"); }