@{
    ViewData["Title"] = "OwnApt, LLC";
    Layout = "_HomeLayout";
}

<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>OwnApt, LLC</h1>
            <hr>
            <p>Bringing property management out of the stone-age and into the future!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Redefining Property Management</h2>
                <hr class="light">
                <p class="text-faded">
                    We take a two-fold approach to reshaping what it means
                    to be a property management company. First, we believe in fostering strong
                    relationships with our tenants and make every effort to make our tenants feel
                    at home. Second, we strive to bring property management out of the stone-age
                    by implementing our own cutting-edge software solutions to provide a better, faster, more
                    reliable management service.
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/4.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                    <h3>Sturdy Software</h3>
                    <p class="text-muted">Our software is updated regularly with zero down-time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Always Available</h3>
                    <p class="text-muted">We are available 24/7 by phone or email.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We keep up to date with the latest market trends.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">We are passionate about what we do!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-info" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Simplicity in Pricing</h2>
                <hr class="light">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-success"></i>
                        <h3>No Other Fees</h3>
                        <p class="text-muted">Simple pricing in, headaches out!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-usd wow bounceIn text-success" data-wow-delay=".1s"></i>
                        <h3>Easy Flat Rate</h3>
                        <p class="text-muted">8% Flat... Yup, that's it!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-success" data-wow-delay=".1s"></i>
                        <h3>More Savings</h3>
                        <p class="text-muted">More money in your pocket!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/8.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
           <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside> -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready for us to take on your properties? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>208-371-4387</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:sales@@ownapt.com">sales@@ownapt.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
<script src="~/lib-unmanaged/jquery-fittext/js/jquery.fittext.js")"></script>
<script src="~/lib/WOW/dist/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/lib-unmanaged/creative/js/creative.js"></script>>
