@{
    ViewData["Title"] = "OwnApt, LLC";
    Layout = "_HomeLayout";
}

<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <img width="200" height="193" src="~/images/Logo/Logo_250x241.png" />
            <h1>OwnApt, LLC</h1>
            <p>Redefining Property Management</p>
            <hr />
            <div class="btn-group">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">See More</a>
                <a href="javascript:void(0);" id="playVideo" class="btn btn-grey btn-xl">See Video</a>
            </div>
        </div>
    </div>
</header>

<section class="container-fluid bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Reshaping the Property Management World</h2>
                <hr class="light">
                <p class="text-faded">
                    We believe in a two-fold approach to reshaping what it means
                    to be a property management company. First, we believe in fostering strong
                    relationships and strive to deliver a Welcome Home experience with our tenants. Second,
                    we believe in innovating property management by implementing our own cutting-edge software
                    solutions to provide a better, faster, more reliable management service.
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Explore Our Services</a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/4.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                    <h3>Sturdy Software</h3>
                    <p class="text-muted">Our software is updated regularly with zero down-time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Always Available</h3>
                    <p class="text-muted">We are available 24/7 by call, text, or email.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We keep up to date with the latest market trends.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Integrated</h3>
                    <p class="text-muted">We integrate with top name listing sites like Craigslist.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary"></i>
                        <h3>Always Improving</h3>
                        <p class="text-muted">We analyze and provide metrics to help improve your investments.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mouse-pointer wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Online Payments</h3>
                        <p class="text-muted">We offer an easy to use, online payment system for tenants.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Easy to Use</h3>
                        <p class="text-muted">We provide web based, easy to use software to make your life easier.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">We are passionate about what we do!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <div class="text-center">
            <a href="#pricing" class="btn btn-primary btn-xl page-scroll">Checkout Our Pricing</a>
        </div>
    </p>
</section>

<section class="container-fluid bg-info" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Simplicity in Pricing</h2>
                <hr class="light">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-success"></i>
                        <h3>No Other Fees</h3>
                        <p class="text-muted">Simple pricing in, headaches out!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-usd wow bounceIn text-success" data-wow-delay=".1s"></i>
                        <h3>Easy Flat Rate</h3>
                        <p class="text-muted">8% Flat... Yup, that's it!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-success" data-wow-delay=".1s"></i>
                        <h3>More Savings</h3>
                        <p class="text-muted">More money in your pocket!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <div class="text-center">
            <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started!</a>
        </div>
    </p>
</section>

<section class="container-fluid no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/8.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="contact">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>
                Ready for us to take on your properties? That's great! Give us a call or send us an
                email and we will get back to you as soon as possible!
            </p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
            <i class="fa fa-phone fa-3x wow bounceIn"></i>
            <p>Call or Text: (208) 991-0492</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p><a href="mailto:support@@ownapt.com">support@@ownapt.com</a></p>
        </div>
    </div>

    <div class="text-center">
        <a href="javascript:void(0);" id="contactFormToggle" class="btn btn-primary btn-xl">Contact Form</a>
    </div>

    <div class="row contactForm" hidden>
        <div class="row form-group">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">First Name</span>
                    <input type="text" id="firstName" placeholder="John" class="form-control" aria-label="First Name">
                </div><!-- /input-group -->
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Last Name</span>
                    <input type="text" id="lastName" placeholder="Doe" class="form-control" aria-label="Last Name">
                </div><!-- /input-group -->
            </div>
        </div><!-- /.col-lg-6 -->

        <div class="row form-group">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input type="text" id="email" placeholder="user@domain.com" class="form-control" aria-label="Email">
                </div><!-- /input-group -->
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">Phone #</span>
                    <input type="text" id="phone" placeholder="(123)456-7890" class="form-control" aria-label="Phone Number">
                </div><!-- /input-group -->
            </div>
        </div><!-- /.col-lg-6 -->

        <div class="row form-group">
            <span class="input-group-addon">Message</span>
            <textarea type="text" rows="5" id="message" placeholder="Type up to 1000 characters" class="form-control" aria-label="Phone Number"></textarea>
            <span id="charCount">0/1000</span>
        </div><!-- /.col-lg-6 -->

        <div class="row form-group">
            <div class="text-center">
                <div class="btn-group">
                    <a href="javascript:void(0);" id="contactFormCancel" class="btn btn-grey btn-xl">Cancel</a>
                    <a href="javascript:void(0);" id="contactFormSubmit" class="btn btn-primary btn-xl">Submit</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="videoModal" class="modal fade" role="dialog" aria-labelledby="videoModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                <h4></h4>
            </div>
            <div class="modal-body">
                <iframe style="width: 100%; height: 75%;" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
<script src="~/lib-unmanaged/jquery-fittext/js/jquery.fittext.js" )"></script>
<script src="~/lib/WOW/dist/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/lib-unmanaged/creative/js/creative.js"></script>>

<script src="~/lib/toastr/toastr.min.js"></script>>

<script>
    function resetForm() {
        $('input').each(function () {
            $(this).val('');
        });

        $('#message').val('');
        $('#charCount').text('0/1000');

        $("#contactFormToggle").show();
        $(".contactForm").slideUp();
    }

    function showToast(message, error) {
        var selector = "success";
        if (error) {
            selector = "error";
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr[selector](message);
    }

    $('#playVideo').click(function () {
        var src = '/videos/explainer_HD1080.mp4';
        $('#videoModal').modal('show');
        $('#videoModal iframe').attr('src', src);
    });

    $('#videoModal button').click(function () {
        $('#videoModal iframe').removeAttr('src');
    });

    $('#videoModal').on('hidden.bs.modal', function () {
        $('#videoModal iframe').removeAttr('src');
    })

    $("#contactFormToggle").click(function () {
        $("#contactFormToggle").hide();
        $(".contactForm").slideDown();
    });

    $("#contactFormCancel").click(function () {
        resetForm();
    });

    $('input').each(function () {
        $(this).change(function () {
            $(this).removeClass('warning');
        })
    });

    $('#message').keyup(function () {
        $(this).removeClass('warning');

        var count = $(this).val().length;
        $('#charCount').text(count + '/1000');
    });

    $("#contactFormSubmit").click(function () {
        var emailRegex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        var phoneRegex = /[0-9\-\(\)\s]+/;
        var valid = true;

        $('input').each(function () {
            if (!$(this).val()) {
                $(this).addClass('warning');
                valid = false;
            }
        });

        if (!$('#message').val()) {
            $('#message').addClass('warning');
            valid = false;
        }

        if (!valid) {
            showToast('Please fill in missing fields.', true);
            return false;
        }

        if (!phoneRegex.test($('#phone').val())) {
            $('#phone').addClass('warning');
            showToast('Please enter a valid US phone number', true);
            return false;
        }

        if (!emailRegex.test($('#email').val())) {
            $('#email').addClass('warning');
            showToast('Please enter a valid email address', true);
            return false;
        }

        if ($('#message').val().length > 1000) {
            $('#message').addClass('warning');
            showToast('Please reduce your message to under 1000 characters.', true);
            return false;
        }

        var contactFormViewModel = {
            FirstName: $('#firstName').val(),
            LastName: $('#lastName').val(),
            Email: $('#email').val(),
            Phone: $('#phone').val(),
            Message: $('#message').val()
        };

        $.post('@Url.Action("SubmitForm", "Home")', contactFormViewModel, function (result) {
            if (result) {
                showToast("Message sent successfully! We'll be in touch soon <i class=\"fa fa-smile-o\"></i>");
                resetForm();
            }

            else {
                showToast("Message NOT sent!", true);
            }
        });
    });
</script>
