@{
    Layout = "_Layout";
}

<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <img width="200" height="193" src="~/images/Logo/Logo_250x241.png" />
            <h1>OwnApt, LLC</h1>
            <p>Redefining Property Management</p>
            <hr />
            <div class="btn-group btn-group-justified">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                <a href="#contact" class="btn btn-grey btn-xl page-scroll">Get Started</a>
                <a href="javascript:void(0);" id="playVideo" class="btn btn-primary btn-xl">Watch Video</a>
            </div>
        </div>
    </div>
</header>

@{ await Html.RenderPartialAsync("AboutSection"); }

<section class="container-fluid no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <img src="~/images/portfolio/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <img src="~/images/portfolio/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <img src="~/images/portfolio/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <img src="~/images/portfolio/4.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ServicesSection"); }

@{ await Html.RenderPartialAsync("PricingSection"); }

<section class="container-fluid no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="~/images/portfolio/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="~/images/portfolio/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="~/images/portfolio/8.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ContactSection"); }
@{ await Html.RenderPartialAsync("VideoModal"); }