@{
    ViewData["Title"] = "OwnApt, LLC";
    Layout = "_Layout";
}

<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <img width="200" height="193" src="~/images/Logo/Logo_250x241.png" />
            <h1>OwnApt, LLC</h1>
            <p>Redefining Property Management</p>
            <hr />
            <div class="btn-group">
                <a href="#about" class="btn btn-primary btn-xl page-scroll">See More</a>
                <a href="javascript:void(0);" id="playVideo" class="btn btn-grey btn-xl">See Video</a>
            </div>
        </div>
    </div>
</header>

@{ await Html.RenderPartialAsync("AboutSection"); }

<section class="container-fluid no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/4.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ServicesSection"); }

@{ await Html.RenderPartialAsync("PricingSection"); }

<section class="container-fluid no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/7.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/images/portfolio/8.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("ContactSection"); }

<div id="videoModal" class="modal fade" role="dialog" aria-labelledby="videoModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                <h4></h4>
            </div>
            <div class="modal-body">
                <iframe style="width: 100%; height: 75%;" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>