#oa-owner-overview-container {
  margin: auto;
}
@media only screen and (max-width: 375px) {
  #oa-owner-overview-container .mdl-card {
    width: 300px;
  }
}
@media only screen and (min-width: 375px) {
  #oa-owner-overview-container .mdl-card {
    width: 350px;
  }
}
#oa-owner-overview-container .mdl-card {
  margin: 5px 5px 5px 5px;
}
#oa-owner-overview-container .mdl-card .mdl-card__title {
  width: 100%;
  height: 263px;
  background-repeat: no-repeat;
  background-position: center;
}
#oa-owner-overview-container .mdl-card .mdl-card__title .mdl-card__title-text {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}
#oa-owner-overview-container .mdl-card .oa-owner-overview-container__status-indicator {
  text-align: center;
}
#oa-owner-overview-container .mdl-card .oa-owner-overview-container__status-indicator--lightgrey {
  background: #666;
  color: #333;
}
#oa-owner-overview-container .mdl-card .oa-owner-overview-container__status-indicator--green {
  background: green;
  color: antiquewhite;
}
#oa-owner-overview-container .mdl-card .oa-owner-overview-container__status-indicator--yellow {
  background: yellow;
  color: #333;
}
#oa-owner-overview-container .mdl-card .oa-owner-overview-container__status-indicator--red {
  background: red;
  color: antiquewhite;
}
#oa-owner-overview-container .mdl-tabs__tab-bar .mdl-tabs__tab::after {
  background: #F05f40;
}
