.oa-home-layout .material-icons--large {
  font-size: 96px;
}
.oa-home-layout .material-icons--orange {
  color: #F05f40;
}
@media screen and (min-width: 840px) {
  .oa-home-layout .mdl-layout__drawer-button {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .oa-home-layout .mdl-layout__drawer-button {
    display: inline-block;
  }
  .oa-home-layout #oa-header-nav {
    display: none;
  }
}
.oa-home-layout .mdl-typography--headline {
  font-size: 30px;
}
.oa-home-layout .oa-home-text__body {
  font-size: 18px;
}
.oa-home-layout .oa-home-button--orange {
  background: #F05f40;
  color: #fff;
}
.oa-home-layout .oa-home-button--grey {
  background: #666;
  color: #fff;
}
.oa-home-layout .oa-home-button--white {
  background: #fff;
  color: #333;
}
.oa-home-layout a:hover {
  color: #F05f40;
}
.oa-home-layout .oa-home-layout__header {
  background: #333;
}
.oa-home-layout .is-casting-shadow {
  background: #fff;
  color: #F05f40;
}
.oa-home-layout .is-casting-shadow a,
.oa-home-layout .is-casting-shadow i {
  color: #F05f40;
}
.oa-home-layout .is-casting-shadow a:hover,
.oa-home-layout .is-casting-shadow i:hover {
  color: #333;
}
.oa-home-layout .oa-home-content--no-margin {
  margin: 0;
  padding: 0;
}
.oa-home-layout .oa-home-content video {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.oa-home-layout .oa-home-content .oa-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 50vh;
}
.oa-home-layout .oa-home-content .oa-section--orange {
  background: #F05f40;
  color: #fff;
}
.oa-home-layout .oa-home-content .oa-section--white {
  background: #fff;
  color: #333;
}
.oa-home-layout .oa-home-content .oa-section--grey {
  background: #666;
  color: #fff;
}
.oa-home-layout .oa-home-content .oa-home-top {
  height: 100vh;
  background: url('../../../images/header.jpg') center / cover;
  background-size: cover;
}
.oa-home-layout footer {
  background: #333;
}
