@import "../Shared/variables.less";

.owner-container {
    background-color: @background-color;
    margin-left: @navbar-side-width;
    margin-right: 25px;

    @media screen and (max-width: 768px) {
        img {
            max-width: 200px;
            max-height: 150px;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width: 384px) {
        .panel {
            margin-left: -25px;
        }

        img {
            max-width: 150px;
            max-height: 113px;
            margin-bottom: 25px;
        }
    }

    margin-topbottom {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    img {
        width: 300px;
        height: 225px;
        box-shadow: 0px 0px 0px 3px @theme-ownapt-lightgrey;
    }

    .panel {
        .health-green {
            background: green;
            color: white;
        }

        .health-yellow {
            background: yellow;
            color: black;
        }

        .health-red {
            background: red;
            color: white;
        }
    }

    .panel-heading {
        background: @theme-ownapt-lightgrey;
        color: #fff;
    }

    .nav-pills {
        margin-bottom: 15px;
    }

    .nav-pills {
        a {
            color: @theme-ownapt-darkgrey;

            &:hover {
                background: @theme-ownapt-orange;
                color: @offwhite;
            }
        }

        .active {
            a {
                background: #fff;
                color: @theme-ownapt-darkgrey;
                border: 1px solid @theme-ownapt-lightgrey;

                &:hover,
                &:focus {
                    background: #fff;
                    color: @theme-ownapt-darkgrey;
                    border: 1px solid @theme-ownapt-lightgrey;
                }
            }
        }
    }
}
