@import "../Shared/variables.less";

.owner-container {
    background-color: @background-color;
    margin-left: @navbar-side-width;
    margin-right: 25px;

    *, *:before, *:after {
        box-sizing: border-box !important;
    }


    .row {
        -moz-column-width: 30em;
        -webkit-column-width: 30em;
        -moz-column-gap: .5em;
        -webkit-column-gap: .5em;
    }

    .panel {
        display: inline-block;
        margin: .5em;
        padding: 0;
        width: 98%;
    }

    img {
        margin-bottom: 25px;
        width: 300px;
        height: 225px;
        -webkit-filter: drop-shadow(4px 4px 5px @theme-ownapt-lightgrey);
        filter: drop-shadow(4px 4px 5px @theme-ownapt-lightgrey);
    }

    .panel-heading {
        background: @theme-ownapt-lightgrey;
        color: #fff;
    }

    .nav-pills {
        margin-bottom: 15px;
    }

    .nav-pills {
        a {
            color: @theme-ownapt-darkgrey;

            &:hover {
                background: @theme-ownapt-orange;
                color: @offwhite;
            }
        }

        .active {
            a {
                background: #fff;
                color: @theme-ownapt-darkgrey;
                border: 1px solid @theme-ownapt-lightgrey;

                &:hover,
                &:focus {
                    background: #fff;
                    color: @theme-ownapt-darkgrey;
                    border: 1px solid @theme-ownapt-lightgrey;
                }
            }
        }
    }
}
