@import "../Shared/variables.less";

.owner-container {
    background-color: @background-color;
    margin-left: @navbar-side-width;

    img {
        margin-bottom: 25px;
    }

    img {
        width: 300px;
        height: 225px;
        -webkit-filter: drop-shadow(4px 4px 5px @theme-ownapt-lightgrey);
        filter: drop-shadow(4px 4px 5px @theme-ownapt-lightgrey);
    }

    .panel {
        margin-right: 25px;
    }

    .panel-heading {
        background: @theme-ownapt-lightgrey;
        color: #fff;
    }

    .nav-pills {
        margin-bottom: 15px;
    }

    .nav-pills {
        a {
            color: @theme-ownapt-darkgrey;

            &:hover {
                background: @theme-ownapt-orange;
                color: @offwhite;
            }
        }

        .active {
            a {
                background: #fff;
                color: @theme-ownapt-darkgrey;
                border: 1px solid @theme-ownapt-lightgrey;

                &:hover,
                &:focus {
                    background: #fff;
                    color: @theme-ownapt-darkgrey;
                    border: 1px solid @theme-ownapt-lightgrey;
                }
            }
        }
    }
}
