@{
    Layout = "/Views/Home/_HomeLayout.cshtml";
    ViewData["Title"] = "Property Listings";
    ViewData["ShowListings"] = true;
}

<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <img width="200" height="193" src="~/images/Logo/Logo_250x241.png" />
            <h1>OwnApt, LLC</h1>
            <p>
                All of our homes are currently occupied.
                Please contact us if you have any questions.
            </p>        
        </div>
    </div>
</header>
