@{
    Layout = "_Layout";
    ViewData["DrawerTitle"] = "Owner Portal";
}

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/owner.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/owner.min.css" />
    </environment>
}
@section HeaderLinks{
    @*<a class="mdl-navigation__link" href="">Contact</a>*@
    <a class="mdl-navigation__link" href="@Url.Action("Logout", "Account")">Logout</a>
}

@section DrawerLinks{
    <a class="mdl-navigation__link" href="@Url.Action("Index", "Owner")"><img src="~/images/views/owner/Owner_Index_OverviewIcon_Active_32x32.png" /> Overview</a>
    @*<a class="mdl-navigation__link" href=""><img src="~/images/views/owner/Owner_Index_ViewProfileIcon_Active_32x32.png" /> Profile</a>
    <a class="mdl-navigation__link" href=""><img src="~/images/views/owner/Owner_Index_AddHomeIcon_Active_32x32.png" /> Add a Home</a>*@
}

@RenderBody()
@RenderSection("Scripts", false)