@{ 
    Layout = "_Layout";
}

@section Styles{

}

@*Put links for the top nav bar*@
@section TopNavBar{
    <div>TOP NAV BAR BABY</div>
}

@*Put links for the side nav bar*@
@section SideNavBar{
    <div>SIDE NAV BAR BABY</div>
}

@section Scripts{

}

@RenderBody()