@{
    Layout = "_Layout";
}
@section Styles{

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/owner.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/owner.min.css" />
    </environment>
}
@section TopNavBar{
    <div class="container-fluid">
        <a class="topnav-home" href="~/Owner"><img src="~/images/Logo/Logo_100x96.png" />OwnApt</a>
        <ul class="topnav">
            <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
        </ul>
    </div>
}

@section SideNavBar{
    <div class="sidenav">
        <ul>
            <li data-toggle="popover" data-container="body" data-trigger="hover" data-placement="right" data-content="Overview"><a href="@Url.Action("Index", "Owner")"><img class="greyscale-hover" src="~/images/views/owner/Owner_Index_OverviewIcon_Active_64x64.png" /></a></li>
            <li data-toggle="popover" data-container="body" data-trigger="hover" data-placement="right" data-content="Profile"><a href="#"><img class="greyscale-hover" src="~/images/views/owner/Owner_Index_ViewProfileIcon_Active_64x64.png" /></a></li>
            <li data-toggle="popover" data-container="body" data-trigger="hover" data-placement="right" data-content="Add a Home"><a href="#"><img class="greyscale-hover" src="~/images/views/owner/Owner_Index_AddHomeIcon_Active_64x64.png" /></a></li>
            <li data-toggle="popover" data-container="body" data-trigger="hover" title="Need Help?" data-placement="right" data-content="Phone: (208)-991-0492 <br/> Email: support@ownapt.com"><a href="javascript:void();"><img class="greyscale-hover " src="~/images/views/owner/Owner_Index_HelpIcon_Active_64x64.png" /></a></li>
        </ul>
    </div>
}

@RenderBody()

@section Scripts{

}
