@{
    Layout = "_OwnerLayout";
}
@*Body here*@
<div class="owner-container">
    <div class="container-fluid property-list">
        <div class="property-sort">Sorting and Shit</div>
        <div class="property row">
            <div class="col-lg-4">
                <img />
                <p>This is an Address</p>
            </div>
        </div>
        <div class="property row"> blah </div>
        <div class="property row"> Gahh</div>
        <div class="property row"> Gahh</div>
        <div class="property row"> Gahh</div>
        <div class="property row"> Gahh</div>
        <div class="property row"> Gahh</div>
        <div class="property row"> Gahh</div>
    </div>
</div>