.owner-container {
  background-color: #ddd;
  margin-left: 100px;
  margin-right: 25px;
}
@media screen and (max-width: 796px) {
  .owner-container img {
    margin-bottom: 25px;
  }
}
.owner-container margin-topbottom {
  margin-top: 10px;
  margin-bottom: 10px;
}
.owner-container img {
  width: 300px;
  height: 225px;
  box-shadow: 0px 0px 0px 3px #666;
  /*-webkit-filter: drop-shadow(4px 4px 5px @theme-ownapt-lightgrey);*/
  /*filter: drop-shadow(4px 4px 5px @theme-ownapt-lightgrey);*/
}
.owner-container .panel .health-green {
  background: green;
  color: white;
}
.owner-container .panel .health-yellow {
  background: yellow;
  color: black;
}
.owner-container .panel .health-red {
  background: red;
  color: white;
}
.owner-container .panel-heading {
  background: #666;
  color: #fff;
}
.owner-container .nav-pills {
  margin-bottom: 15px;
}
.owner-container .nav-pills a {
  color: #333;
}
.owner-container .nav-pills a:hover {
  background: #F05f40;
  color: antiquewhite;
}
.owner-container .nav-pills .active a {
  background: #fff;
  color: #333;
  border: 1px solid #666;
}
.owner-container .nav-pills .active a:hover,
.owner-container .nav-pills .active a:focus {
  background: #fff;
  color: #333;
  border: 1px solid #666;
}

#TopNavBar {
  background: #333;
}
#TopNavBar .navbar {
  border: none;
}
@media screen and (max-width: 768px) {
  #TopNavBar #owner-navbar-logo {
    display: none;
  }
}
#TopNavBar a {
  color: antiquewhite;
}
#TopNavBar a:hover {
  color: #F05f40;
}
#SideNavBar {
  position: absolute;
}
#SideNavBar .sidenav .active img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#SideNavBar .sidenav .greyscale-hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#SideNavBar .sidenav .greyscale-hover:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#SideNavBar .sidenav .greyscale-hover:active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#LayoutBody {
  position: relative;
  display: block;
  background-color: #ddd;
  height: 100%;
}
#LayoutBody .popover-title {
  background: #F05f40;
  color: #fff;
  font-weight: bold;
}
