.owner-container {
  position: static;
  background-color: #ddd;
  margin-left: 30px;
}
.owner-container .property-list {
  margin-top: 40px;
  padding-left: 7%;
  padding-right: 7%;
}
.owner-container .property-list div {
  margin-bottom: 15px;
}
.owner-container .property-list .property-sort {
  background-color: burlywood;
  height: 40px;
}
.owner-container .property-list .property {
  padding-top: 10px;
  background-color: #fafafa;
  margin-bottom: 15px;
  height: 300px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
}
.owner-container .property-list .property .popover-title {
  background: #F05f40;
  color: #fff;
  font-weight: bold;
}
.owner-container .property-list .property .property-left img {
  min-height: 200px;
  max-width: 320px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 15px;
}
.owner-container .property-list .property .overall-status {
  text-align: right;
  padding-right: 10px;
  float: right;
}
.owner-container .property-list .property .overall-status img {
  height: 20px;
}
.owner-container .property-list .property .property-health {
  height: 20px;
  width: 20px;
  background-color: forestgreen;
  float: right;
}
.owner-container .property-list .address {
  display: block;
  margin: auto;
  padding-top: 10px;
}
.owner-container .property-list .address p {
  margin: 0px;
}

#TopNavBar {
  background-color: #333;
  height: 40px;
}
#TopNavBar .topnav-home {
  float: left;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 8px 16px 8px 0px;
  text-decoration: none;
  font-size: 17px;
}
#TopNavBar .topnav-home img {
  height: 25px;
  width: 24px;
  margin-right: 5px;
}
#TopNavBar .topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#TopNavBar .topnav li {
  float: right;
}
#TopNavBar .topnav li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 17px;
}
#TopNavBar .topnav li a:hover {
  background-color: #666;
}
#SideNavBar {
  width: 60px;
  background-color: #333;
  position: fixed;
  left: 0px;
  top: 40px;
  bottom: 0px;
}
#SideNavBar .popover-title {
  background: #F05f40;
  color: #fff;
  font-weight: bold;
}
#SideNavBar .sidenav {
  height: 100%;
  /*
        .sidenav-placeholder {
            height: 20%;
            display: block;

            @media screen and (max-height: @navbar-media-max-height) {
                height: 0%;
            }
        }
            */
}
#SideNavBar .sidenav ul {
  list-style-type: none;
  padding-left: 0px;
}
#SideNavBar .sidenav .contact-pulled-buttom {
  position: absolute;
  bottom: 0px;
  left: 14px;
}
#SideNavBar .sidenav .greyscale-hover {
  display: block;
  margin: 18px auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#SideNavBar .sidenav .greyscale-hover:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#SideNavBar .sidenav .greyscale-hover:active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
@media screen and (max-height: 415px) {
  #SideNavBar .sidenav .greyscale-hover {
    margin: 8px auto;
  }
}
.body-div {
  position: relative;
  display: block;
  background-color: #ddd;
  height: 100%;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 60px;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}
