@import "variables.less";

footer {
    background: @theme-ownapt-darkgrey;
    color: @offwhite;
    padding: 15px 15px 15px 15px;

    a {
        color: @theme-ownapt-orange;

        &:hover {
            color: @theme-ownapt-orange;
        }

        &:focus {
            color: @theme-ownapt-orange;
        }
    }
}
