// Variables
@theme-primary: @theme-ownapt-orange;
@theme-dark: #222;
@offwhite: #fff;

//OwnApt Primary Colors
@theme-ownapt-orange: #F05f40;
@theme-ownapt-white: #fff;
@theme-ownapt-darkgrey: #333;
@theme-ownapt-lightgrey: #666;
@theme-ownapt-toggle-orange: #ed431f;
@theme-ownapt-toggle-orange-border: #ee4b28;

//Body
@background-color: #ddd;
@background-navbar: @theme-ownapt-darkgrey;

//Navbar Top
@navbar-hover-color: @theme-ownapt-lightgrey;
@navbar-hover-transition: 0.2s;
@navbar-text-color: #fff;

//Navbar Side
@navbar-media-max-height: 415px;

//Footer
@background-footer-color: @theme-ownapt-darkgrey;
@footer-text-color: #fff;

//Other
@background-white: #fafafa;

//Health
@health-green: forestgreen;